 

body {
    font-family: 'Commissioner', sans-serif;
    font-weight: 400;
    font-size: 16px;
    
}

.header {
     
    border: solid;
}

.top-navbar {
    
    border:solid royalblue 1px;
    margin: 0;
    margin-left: 10px;
    padding: 10px;
    width: 90%;
    list-style-type: none;
    display: flex;
    overflow: hidden;
    
    
}
li {
    
    display: inline;
}
 
.menu {
    
    display: none;  
    border-radius: 5px;
    flex-direction: column; 
    background-color: #fff;
    width: 60%;
    
    padding: 0;
    margin:10px auto;
   
     
}
.menu li {
    
   
    display: flex;
    
    
}

.menu li:not(:first-child){
    border-top: solid 1px rgb(236, 238, 236);
}
 .menu a {
    padding: 10px;
    font-weight: 400;
    width: 100%;
    color:rgb(14, 13, 13);
    text-decoration: none;
    font-size: 12px;
   
}
 
 .logo {

    
 }
 
 .icon-hamburguer{ 
    position: relative; 
    


}
.logo-icon {
    
  
}



.bg-img {
    
 
    width: 100%;
    z-index: -1;
    height: 300px;
    position: absolute;
    left: 0px;
    top: 0px;
     
  }

  
.title {
    font-weight: 700;
    text-align: center;
    font-size: 16px;
}

p {
    font-weight:lighter;
    font-size: 10px;
    text-align: center;

 }
.button {
    color:honeydew;
    background-color:hsl(176, 50%, 47%);
    outline: none;
    border-radius: 25px;
    border: none;
    padding:15px 35px;
    font-weight: 600;
}
 
.button-bookmark {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}
  @media screen and (min-width: 376px) {
 
   body {
       background-color: brown;
   }

  
  

   
  }
     
@media  screen and (min-width: 1440px) {
    
    .bg-img {
        background-image: url("/images/image-hero-desktop.jpg");
    }
}
  