 

body {
    font-family: 'Commissioner', sans-serif;
    font-weight: 400;
    font-size: 16px;
 
}
 

.top-navbar {
    
    border:solid royalblue 1px;
    margin: 0;
    margin-left: 10px;
    padding: 10px;
    width: 90%;
    list-style-type: none;
    display: flex;
  
    justify-content: space-between;
    overflow: hidden;
    
    
}
li {
    
    display: inline;
}
 
.menu {
    
    display: none;  
    border-radius: 5px;
    flex-direction: column; 
    background-color: #fff;
    width: 60%;
    padding: 0;
    margin:1% 20%;
    position: absolute;
     
}
.menu li {
    
   
    display: flex;
    
    
}

.menu li:not(:first-child){
    border-top: solid 1px rgb(236, 238, 236);
}
 .menu a {
    padding: 10px;
    font-weight: 400;
    width: 100%;
    color:rgb(14, 13, 13);
    text-decoration: none;
    font-size: 12px;
   
}
 
    
 
 
 .icon-hamburguer{ 
    position: relative; 
    


}
.logo-icon {
    position: absolute;
    position: absolute;
    top: -30px;
    right: 42%;
}



.bg-img {
    
 
    width: 100%;
    z-index: -1;
    height: 300px;
    position: absolute;
    left: 0px;
    top: 0px;
     
  }
.first-block {
    margin: 45% auto; /* 45% from the top and centered */
    
    margin-bottom: 0;
}
.second-block {
    margin: 10% auto; /* 10% from the top and centered */
    display: flex;
    flex-direction: column;
    
}

.stands-block{
    margin-top: 20px;
    font-size: 10px;
    color:rgb(128, 125, 125);
}
  
.title {
    font-weight: 700;
    text-align: center;
    font-size: 16px;
}

p {
    font-weight:lighter;
    font-size: 10px;
    text-align: left;
    color:gray;
    
 }
.button {
    color:honeydew;
    background-color:hsl(176, 50%, 47%);
    outline: none;
    border-radius: 25px;
    border: none;
    padding:15px 35px;
    font-weight: 600;
}
 
.button-bookmark {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.line {
    width: 25%;
    height: 1px;
    border-width: 0;
    background-color: #eee;
}

.number-left {
    font-size: 25px;
    font-weight: 600;
    color: #222;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}
progress::-moz-progress-bar { background:  hsl(176, 50%, 47%); }
progress::-webkit-progress-value { background: hsl(176, 50%, 47%); }
progress { color:hsl(176, 50%, 47%);}
.progress-bar {
  
    border-radius: 100px;
    overflow: hidden;
   
}

h3 {
    font-size : 12px;  
    color: black; 
}

.pledge-value {
    color:hsl(176, 50%, 47%);
    font-weight: 600;
}

@media screen and (min-width: 376px) {
 
   body {
       background-color: brown;
   }

  
  

   
  }
     
@media  screen and (min-width: 1440px) {
    
    .bg-img {
        background-image: url("/images/image-hero-desktop.jpg");
    }
}
  